body {
  background-color: green;
}

li {
  color: purple;
}

/* Dropdown Button */
.dropbtn {
    background-color: #cccccc;
    font-family: 'Amatic SC', cursive;

    color: white;
    padding: 6px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cccccc;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #808080
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #808080;
}

.teamimage {
  height: 90px;
  width: 90px;
}

.main {
  background-image: url("/src/images/soccerfield.jpg");;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left:0;
  overflow:hidden;
  }

nav {
  background-color: #cccccc;
  height: 60px;
}

.navbar {
    position: relative;
    padding: 0rem 0rem;
}
p, h4, h1 {
  color: white;
}

.allfootyicon {
  height: 52px;
  width: 52px;
}

table.table {
  background-color: white;
  opacity: .5;
  box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.tablescroll {
  overflow: scroll;
  height: 550px;
}
table.table td span {
/*   opacity: 1;
 */}

 .allfootyhome {
   color: white;
   font-size: 120px;
   text-align: center;
   font-family: 'Bahiana', cursive;
   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

 }

 .allfootyhomelogo {
   position: relative;
   top: -30px;
   text-align: center;
 }

 .leaguetitleline, .teamtitleline {
   color: white;
   font-family: 'Bahiana', cursive;
   font-size: 90px;
   text-align: center;
 }

 tr.green {
   background-color: green;
   color: white;
   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
 }

 tr.yellow {
   background-color: #ced200;
   color: white;
   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
 }

 tr.red {
   background-color: #be0000;
   color: white;
   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
 }

 .newsarticletitle {
   color: white;
   font-family: 'Bahiana', cursive;
   font-size: 45px;
   text-align: center;
   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
 }

 .newstitle, .leaguetabletitle, .teamrostertitle, .teamfixturestitle {
   color: white;
   font-family: 'Bahiana', cursive;
   font-size: 60px;
   text-align: center;
   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
 }
