body {
  background-color: green;
}

li {
  color: purple;
}

/* Dropdown Button */
.dropbtn {
    background-color: #cccccc;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cccccc;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #808080
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #808080;
}

.teamimage {
  height: 100px;
  width: 100px;
}

.main {
  background-image: url("/src/images/soccerfield.jpg");;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left:0;
  overflow:hidden;
  }

nav {
  background-color: #cccccc;
  height: 52px;
}

.navbar {
    position: relative;
    padding: 0rem 0rem;
}
